[submodule "ds-storage"]
	path = ds-storage
	url = git@mohammed-aadil-github:Mohammed-Aadil/ds-storage.git
[submodule "ds-client"]
	path = ds-client
	url = git@mohammed-aadil-github:Mohammed-Aadil/ds-client.git
