[submodule "ds-storage"]
	path = ds-storage/src/ds-storage
	url = git@mohammed-aadil-github:Mohammed-Aadil/ds-storage.git
[submodule "ds-client"]
	path = ds-client
	url = git@mohammed-aadil-github:Mohammed-Aadil/ds-client.git
[submodule "ds-doc-to-png"]
	path = ds-doc-to-png
	url = git@mohammed-aadil-github:Mohammed-Aadil/ds-doc-to-png.git
